.jumbo{
    background-image: url(http://imgur.com/thB3Drn);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    padding: 50px 0;
    margin-bottom: 30px;
}

.jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.contain-to-grid, .top-bar{
    background: #eaeaea;
}

.name{
    background: #5a9aa8;
    padding: 0px 30px;
    height: 45px !important;
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
    background: none;
    
}

.top-bar-section li:not(.has-form) a:hover:not(.button){
    background: none;
    text-decoration: underline;
    color: #1a1a1a;
    
}

.top-bar-section ul li > a{
    color: white;
}

.active{
    text-decoration: underline;
    font-weight: bold !important;
}

.row:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden;
    
}

section{
    padding-bottom: 150px;
}
#contact{
    background: #fff;
    padding-bottom: 30px;
}

#contact li>ul>li{
    padding: 5px 0;
}


.copy{
    background: #737373;
    padding: 10px 0;
}

.copy p{
    color: #fff;
    margin-bottom: 0;
}

.copy a{
    color: #fff;
}

ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
}
#portfolio{
    background-image: url(http://imgur.com/hyst1JV);
    background-size: cover;
    background-attachment: fixed;
        
}
#portfolio h2,h4{
    color: #fff;
    text-align: center;
}

#portfolio h4{
    margin-bottom: 30px;
}

#portfolio img, #about img{
    display: block;
    margin: 0 auto;
}

#about {
    background-color: #D1CDC3;
}

.sticky-bar-colour {
    background-color: #283952;
}

.sticky-bar-shadow {
    box-shadow: 0px 10px 20px #242222;
}

#aboutBox {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(129,130,141,0.95);
    color: #0033cc;
    /*color: white;*/
    font-size: 2vmin;
    width: 94%;
    margin-left: 16%;
    margin-right: 3%;
    height: 53vh;
    border-left: 10px solid rgba(255, 255, 255, .2);
    border-bottom: 10px solid rgba(255, 255, 255, .2);
}
