body {
  margin: 0px;
  background-color: #fff5d7; 
  color: orange;
}

.pictureContainer {
  float: left;
  height: 230px;
  overflow: hidden;
  width: 100%;
}
.pictureContainer img {
  opacity: 0.65;
  height: 230px;
  overflow: hidden;
  width: 1900px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 1.7s ease-in-out;
}
.pictureContainer img:hover {
  transform: translate3d(-200px, 0px, 0px);
}


#pictureText {
  margin-left: 5%;
  margin-right: 5%;
  font-style: "Times New Roman";
  text-shadow: 2px 2px #7c6789;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 5.9vmin;
  font-weight: bold;
}


#corset {
  padding-bottom: 5px;
  margin-left: 8%;
  margin-right: 8%;
  background: #fefacb;
  font-size: 25px;
  color: black;
  height: 100%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}


#menu {
  text-align: center;
  overflow: hidden;
  background-color: #edf1f0;
  border-top: 1px solid gray;
  border-left: 1px solid #d6dffe;
  border-right: 1px solid #d6dffe;
  border-bottom: 1px solid gray;
  width: auto;
  color: purple;
  font-size: 16%x;
  height: 22%px;
  text-align: center;
}


/* #menu:hover {
  background-color: #ffd7ff;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} */


ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d6dffe; 
}

li {
  display: inline-block;
  padding: 0%;
  height: 100%;
}

li a {
  border-left: 1px solid #ecf0ff;
  border-right: 1px solid #ecf0ff;
  height: 100%;
  transition: all 1s ease;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0% 0%;
  text-decoration: none;
}


li a:hover {
  color: orange;
  background-color: #f1f4f3;
}

#introBlurb {
  height: 475px;
  margin: 10px;
  margin-top: 0px;
  padding-top: 10px;
  color: black;
  font-size: 16px;
}

#logoContainer {

  text-align: center;
}

#bottomFoot {
  padding-top: 1px;
  text-shadow: 1px 1px #93a8bf;
  font-size: 2vmin;
  color: white;
  border-top: 1px solid gray;
  height: 20px;
  background-color: #d6dffe;
  overflow: auto;
}

#pyLogo {
  padding-left: 8px;
  height: 104px;
  width: 104px;
  
}


#htmlLogo {
  padding-left: 25px;
  height: 104px;
  width: 104px;
  
}


#javaLogo {
  padding-left: 25px;
  height: 104px;
  width: 104px;
  
}

#rubyLogo {
  padding-left: 25px;
  height: 104px;
  width: 104px;
  
}


#phpLogo {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 25px;
  height: 56px;
  width: 104px;
  
}

#cLogo {
  padding-left: 25px;
  height: 104px;
  width: 104px;
  
}

.logo {
  
}

.logo:hover {
  box-shadow: 7px 7px 3px grey;
  transition-duration: 0.6s;
}
