body {
  margin: 0px;
  background-color: #fff5d7; 
  color: orange;
}


.pictureContainer img {
  opacity: 0.65;
  height: 230px;
  overflow: hidden;
  width: 1900px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 1.7s ease-in-out;
}
.pictureContainer img:hover {
  transform: translate3d(-200px, 0px, 0px);
}
.pictureContainer {
  float: left;
  height: 230px;
  overflow: hidden;
  width: 100%;
}


#pictureText {
  margin-left: 18px;
  font-style: "Times New Roman";
  text-shadow: 2px 2px #7c6789;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 55px;
  font-weight: bold;
}


#corset {
  margin-left: 100px;
  margin-right: 100px;
  background: #fefacb;
  font-size: 25px;
  color: black;
  height: 100vh;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}


#menu {
  text-align: center;
  overflow: auto;
  background-color: #edf1f0;
  border-top: 1px solid gray;
  border-left: 1px solid #d6dffe;
  border-right: 1px solid #d6dffe;
  border-bottom: 1px solid gray;
  width: auto;
  color: purple;
  font-size: 25px;
  height: 35px;
  text-align: center;
}


/* #menu:hover {
  background-color: #ffd7ff;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} */


ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d6dffe; 
}

li {
  display: inline-block;
  height: 100%;
}

li a {
  height: 100%;
  transition: all 1s ease;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 3px 35px;
  text-decoration: none;
}


li a:hover {
  color: orange;
  background-color: #f1f4f3;
}

#introBlurb {
  margin: 10px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 16px;
}

#bottomFoot {
  padding-top: 1px;
  text-shadow: 1px 1px #93a8bf;
  font-size: 16px;
  color: white;
  border-top: 1px solid gray;
  height: 20px;
  background-color: #d6dffe;
}

#inner1 { 
  float: left;
  padding: 5px;
  width: 48%;
  background-color: white;
  color: orange;
}

#inner2 { 
  float: right;
  margin-left: 49%;
  padding: 5px;
  width: 48%;
  background-color: white;
  color: orange;
}
