body {
  margin: 0;
  width: 100%;
  font-size: 19px;
  line-height: 1.5;
  background-color: #e4d6e4; 
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #64546b;
  background-image: linear-gradient(140deg, #000000, #660066); 
  width: 100%;
  height: 100%;
}

.page-header-stars {
  background-image: url("http://eskipaper.com/images/space-1.jpg");
  width: 100%;
  height: 100%;
}
