body {
  margin: 0px;
  background-color: #fff5d7; 
  color: red;
}

.pictureContainer img {
  height: 310px;
  overflow: hidden;
  width: 1900px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 1.5s ease-in-out;
}
.pictureContainer img:hover {
  transform: translate3d(-300px, 0px, 0px);
}

.pictureContainer {
  float: left;
  height: 310px;
  overflow: hidden;
  width: 100%;
}

#corset {
  margin-left: 100px;
  margin-right: 100px;
  background: #fefacb;
  font-size: 25px;
  color: black;
  height: 100vh;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

#menu {
  margin-top: auto;
  width: 100%;
  color: white;
  height: 35px;
  text-align: center;
}
