body {
  margin: 0;
  width: 100%;
  font-size: 100px;
  line-height: 1.5;
  background-color: #e4d6e4; 
}

.pictureContainer img {
    height: 310px;
    overflow: hidden;
    width: 1900px;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 1.5s ease-in-out;
}
.pictureContainer img:hover {
    transform: translate3d(-300px, 0px, 0px);
}

.pictureContainer {
    float: left;
    height: 310px;
    overflow: hidden;
    width: 100%;

}

corset {
  margin-left: 100px;
  background: #999999;
  font-size: 55px;
}
